@model IEnumerable<Coderin.Entity.Tag>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Tag Tagles</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsProTag)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsProTag)
                        </td>
                        <td>
                            @Html.ActionLink("Güncelle", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Sil", "Delete", new { id = item.Id })|
                            @Html.ActionLink("Ata", "Ata", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- /.box-body -->
</div>