@model Coderin.Entity.User
@using Coderin.BLL;
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QuestionRepository questionRepository = new QuestionRepository();
    AnswerRepository answerRepository = new AnswerRepository();
    UserRepository userRepository = new UserRepository();
    CityRepository cityRepository = new CityRepository();
    UserDetailRepository userDetailRepository = new UserDetailRepository();
    FollowRepository followRepository = new FollowRepository();
    TagQuestionRepository tagQuestionRepository = new TagQuestionRepository();
}

<div itemscope="" itemtype="http://schema.org/Person" class="col-md-8 main-content">

    <div class="row user-statistic highlight">
        <div class="col-md-5 col-xs-12 user-info">
            <span class="avatar-80">
                <img itemprop="image" src="@*@userDetailRepository.Get(userRepository.Get(id).Id).Avatar*@ http://static.enginethemes.com/demo/qaengine/2016/01/128.jpg" class="avatar" alt="">
            </span>
            <ul>
                <li class="location">
                    <i class="fa fa-map-marker"></i>
                    <span itemprop="homeLocation" itemscope="" itemtype="http://schema.org/PostalAddress">
                        <span itemprop="addressLocality">@Model.UserDetail.City.Name</span>
                    </span>
                </li>
                <li itemprop="email" class="email">
                    <i class="fa fa-envelope"></i>
                    @Model.Mail
                </li>
                <li itemprop="address" class="name">
                    <i></i>
                    @Model.Name @Model.Surname
                </li>
                @if (Session["UserId"] != null)
                {
                    if (Session["UserId"].ToString() != Model.Id.ToString())
                    {
                        if (followRepository.GetBy(x => x.FollowerId == (Guid)Session["UserId"] && x.FollowingId == Model.Id).Count() == 0)
                        {
                            <li itemprop="color" class="name">
                                @using (Html.BeginForm("Add", "Follow", new { id = @Model.Id }, FormMethod.Post))
                                {
                                    <input type="submit" name="button" class="btn-social" value="Takip Et" />
                                }
                            </li>
                        }
                        else
                        {
                            <li itemprop="color" class="name">
                                @using (Html.BeginForm("Remove", "Follow", new { id = @Model.Id }, FormMethod.Post))
                                {
                                    <input type="submit" name="button" class="btn-social" value="Takibi Kaldır" />
                                }
                            </li>
                        }
                    }
                }

            </ul>
            <div itemprop="description" class="col-md-12 description">
            </div>
        </div>
        <div class="col-md-7 col-xs-12 user-post-count">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 statistics">
                    <div class="pull-top question-cat">
                        <br>
                        <span class="points-count">
                            @followRepository.GetBy(x => x.FollowingId == @Model.Id).Count()
                        </span>
                        <span class="star">
                            <a href="~/Follow/Follower/@Model.Id">Takipçi</a>
                        </span>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <span class="points-count">
                            @followRepository.GetBy(x => x.FollowerId == @Model.Id).Count()
                        </span>
                        <span class="star">
                            <a href="~/Follow/Following/@Model.Id">Takip Edilen</a>
                        </span>
                    </div>
                    <div class="pull-bottom">
                        <div class="col-md-6 col-sm-6 col-xs-6 num-question">
                            <p class="questions-count">
                                Soru<br>

                                <span>@questionRepository.GetBy(x => x.UserId == @Model.Id).Count()</span>


                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <p class="answers-count">
                                Cevap<br>
                                <span>@answerRepository.GetBy(x => x.UserId == @Model.Id).Count()</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- END USER-STATISTIC -->

    <div class="row question-filter">
        <div class="col-md-12 sort-questions">
            <ul>
                <li>
                    <a class="active" href="~/User/Profil/@((new Coderin.BLL.UserRepository().Get((Guid)Session["userId"])).Id)">Sorularım</a>
                </li>
                <li>
                    <a class="" href="#">Cevaplarım</a>
                </li>
                <li>
                    <a class="" href="~/Home/Favorilerim">Favorilerim</a>
                </li>
                <li>
                    <a class="" href="~/User/MyNotifications/@((new Coderin.BLL.UserRepository().Get((Guid)Session["userId"])).Id)">Bildirimlerim </a>
                </li>
                <li>
                    <a class="" href="~/Home/Mesajlarim">Mesajlarım (1)</a>
                </li>
                <li>
                    <a class="" href="~/Home/CVim">CV im</a>
                </li>
                <li>
                    <a class="" href="~/Home/Ayarlar">Ayarlar</a>
                </li>
            </ul>
        </div>
    </div><!-- END QUESTIONS-FILTER -->

    <div class="main-questions-list">
        <ul id="main_questions_list">

            @foreach (var item in questionRepository.GetAll().Where(x => x.UserId == Model.Id).OrderByDescending(x => x.CreateDate))
            {
                <li class="answer-item question-item post-2085 answer type-answer status-publish hentry" data-id="2085">
                    <div class="col-md-8 q-left-content">
                        <div class="q-ltop-content title-answer-style">
                            <a href="~/Question/Index/@item.NameUrl-@item.Id" class="question-title">
                                @item.Name
                            </a>
                        </div>
                        <div class="q-lbtm-content">
                            <div class="question-cat">
                                <span class="question-time">
                                    Tarih : @item.CreateDate.ToShortDateString()
                                </span>
                                <br />
                                <ul class="question-tags">
                                    @foreach (Coderin.Entity.TagQuestion item_1 in tagQuestionRepository.GetBy(x => x.QuestionId == item.Id))
                                    {
                                        <li>
                                            <a class="q-tag" href="~/Tag/ByTagNormal/@Coderin.UI.Functions.UrlDuzenle(@item_1.Tag.Name)-@item_1.Tag.Id">
                                                @item_1.Tag.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div><!-- end left content -->
                    <div class="col-md-4 col-xs-4 q-right-content">
                        <ul class="question-statistic">
                            <li>
                                <span class="question-views">
                                    @item.Views
                                </span>
                                Okunma
                            </li>
                            <li class="active">
                                <span itemprop="answerCount" class="question-answers">
                                    @answerRepository.GetBy(x => x.QuestionId == @item.Id).Count()
                                </span>
                                Cevap
                            </li>
                            <li>
                                <span itemprop="upvoteCount" class="question-votes">
                                    @item.Vote
                                </span>
                                Puan
                            </li>
                        </ul>
                        <div class="pumping">
                        </div>
                    </div> <!-- end right content -->
                    <div class="clearfix"></div>
                </li>
            }
        </ul>
    </div><!-- END MAIN-QUESTIONS-LIST -->
    <div class="row paginations home">
        <div class="col-md-12">
        </div>
    </div><!-- END MAIN-PAGINATIONS -->
</div>